.posts-container {
  margin: 1rem 5rem 0rem 5rem;
}

.posts-container > h2 {
  margin-top: 0;
}

#titles {
  font-stretch: expanded;
  display: flex;
  justify-content: center;
  color: #838e83;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.post {
  background-color: #838e83;
  border: 1px solid #64403e;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.post > * {
  padding: 0.5rem;
}

.post-info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: #c9cebd;
  font-family: "Roboto", sans-serif;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

.post-body {
  display: flex;
  justify-content: flex-end; /* Aligns content to the right /
  text-align: right; / Aligns text to the right /
  width: 100%; / Ensures full width */
}

.post-info-title {
  text-decoration: none;
  color: #c9cebd;
  font-family: "Roboto", sans-serif;
}
