.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: #64403e;
  margin: 0;
  width: 100%;
  padding: 0.5rem;
}

.navbar-item {
  flex-basis: 20%;
  list-style-type: none;
  text-align: center;
  color: #6c6061;
}

.navbar-link {
  color: #8c7d7e;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

.navbar-logout {
  margin-left: auto;
}

.navbar-link:hover {
  color: whitesmoke;
}
